.chat-online-friend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.chat-online-img-container {
  position: relative;
  margin-right: 10px;
}

.chat-online-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.chat-online-badge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: limegreen;
  top: 2px;
  right: 2px;
}
