body {
  background-color: #1c1e21;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.8s;
}

/* span:hover {
  color: #ba8fff;
} */
button:hover {
  background-color: #ba8fff;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.8s;
}
a:hover {
  color: #ba8fff;
}
